<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uzair.kptehsilmunicipaladministrationservices">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AppModules.Certificates.CertificatesMain"
            android:screenOrientation="locked" android:parentActivityName=".AppModules.Main.MainActivity"></activity>
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <service
            android:name=".AppModules.FirebaseMessagingService.FirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>




        <activity
            android:name=".AppModules.Certificates.DeathCertificate"
            android:parentActivityName=".AppModules.Certificates.CertificatesMain"
            android:screenOrientation="locked" />
        <activity
            android:name=".AppModules.Certificates.BirthCertificate"
            android:parentActivityName=".AppModules.Certificates.CertificatesMain"
            android:screenOrientation="locked" />
        <activity
            android:name=".AppModules.UserProfile.Profile"
            android:parentActivityName=".AppModules.Main.MainActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".AppModules.BuildingNoc.BuildingNocActivity"
            android:parentActivityName=".AppModules.Main.MainActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".AppModules.TaxesDetails.Taxes"
            android:parentActivityName=".AppModules.Main.MainActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".AppModules.WaterBills.WaterBills"
            android:parentActivityName=".AppModules.Main.MainActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".AppModules.UserComplaint.ComplaintsMain.UserFeedBack"
            android:parentActivityName=".AppModules.UserComplaint.ComplaintsMain.Complaints"
            android:screenOrientation="locked" />
        <activity
            android:name=".AppModules.UserComplaint.ComplaintsMain.AddComplaints"
            android:parentActivityName=".AppModules.UserComplaint.ComplaintsMain.Complaints"
            android:screenOrientation="locked" />
        <activity
            android:name=".AppModules.UserComplaint.ComplaintsMain.Complaints"
            android:parentActivityName=".AppModules.Main.MainActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".AppModules.LoginAndSignUp.SignUp"
            android:screenOrientation="locked" />
        <activity
            android:name=".AppModules.LoginAndSignUp.Login"
            android:screenOrientation="locked" />
        <activity
            android:name=".AppModules.Main.MainActivity"
            android:screenOrientation="locked"></activity>
    </application>

</manifest>